/* file location: /static/css/custom.css */
@import "../reveal-js/dist/theme/template/mixins";
@import "../reveal-js/dist/theme/template/settings";

/* $backgroundColor: #23252a; */
$backgroundColor: #fff;
$mainColor: #fff;
$headingColor: #fff;

html.speaker-view .speaker-notes .value {
    font-size: 1.25em !important;
}
html.speaker-view[data-speaker-layout="tall"] .speaker-controls {
    font-size: 1.5rem;
}
